*~
*.obj
*.pyc
*.swp
tags
cscope.out
Makefile

moc_*
*.moc
*.pdb
*.idb
*.ncb
*.sln
*.suo

stable.h.cpp
depends/dw3rd/

framework/lib

Makefile.Debug
Makefile.Release

*.vcproj*
*.vcxproj*

bin/
tmp/
ipch/
lib/
*.opensdf
*.sdf
